body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    }

main {
    text-align: center;
    background-color: rgb(1, 40, 49);
    padding: 1rem;
    color:gainsboro;
	width: 600px;
    margin-left: 400px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.weatherInfo {
    font-size: 19px;
}

footer {
    width: 600px;
    color: gainsboro;
    margin-left: 400px;
    background-color: black;
    padding: 20px;
    margin-top: 5px;
    height: 100px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.date {
    font-size: 14px;
    color:green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    
  }

  .copyright {
    text-align: center;
    padding-top: 10px;
    color: #FFFFFF;
    text-transform: capitalize;
    letter-spacing: 2px;
    list-style: none;
    font-size: 16px;
  }

  .link {
    text-align: center;
    font-size: 14px;
  }

  .link2 {
    color: gainsboro;
  }