$timing: 0.5s;

*, *:before, *:after {
    box-sizing: border-box;
  }
  
 
  body {
    margin: 40px;
    font-family: 'Open Sans', 'sans-serif';
    background-color: #fff;
    color: #444;
  }
  
   .header {
    grid-column: 1 / -1;
    background-color: #353D2F;
    height: 200px;
    margin:0;
    padding:10px;
    /* needed for the floated layout */
    clear: none;
  }
  
  .footer {
    grid-column: 1 / -1;
    background-color: #353D2F;
    height: 90px;
    /* needed for the floated layout */
    clear: none;
  }
  
.flex-container {
  display: flex;
  background-color: #25383C;
  width: 100%;
}
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 17px;
    }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: orange;
  }
  li:last-child {
    border-right: none;
  }
  .active {
    background-color: #04AA6D;
  }
  /* make a grid */
.wrapper {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
  
  .wrapper > * {
    background-color: #353D2F;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    /* needed for the floated layout*/
    margin-bottom: 10px;
  }

  h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 350px;
    float: right;
    font-family: sans-serif;
    }

  h2 {
    color: #fff;
    text-align: center;
    margin-top: -80px;
    margin-bottom: -50px;
    float: right;
    margin-right: 380px;
    font-style: normal;
    font-weight: bold;
    font-family: Playfair Display;
  


  }
   h3 {
    color: #444;
    font-size: 30px;
    text-align: left; 
    margin-left: 80px;
    font-weight: bold;
    }
h4 {
  margin-left: 80px;
  color: #444;

}


  p {
    color: #444;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
  }

    .copyright {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #FFFFFF;
        text-transform: capitalize;
        letter-spacing: 2px;
        list-style: none;
        font-size: 14px;
        margin-top: 40px;
        margin-bottom: 40px;
      }
    
    hr {
        width: 100%;
        color: #444;
        float: left;
    }
    .content {
        background-color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    .color-list {
      display: flex;
      flex-direction: column;
      height: 50vh;
      width: 30%;
      margin-left: 80px;
      margin-bottom: 30px;
      
    }
    
    .color {
      flex: 0 0 20%; /*flex-grow | flex-shrink | flex-basis*/
      box-shadow: 0 0 30px #424242;
      padding: 1em;
      color: white;
       }
    
    .name {
      font-size: 1em;
    }
    
    .details {
      padding: 0;
      list-style: none;
      opacity: 0;
      }
    
    .details li {
      line-height: 1em;
    }
    
    #sinopia {
      background-color: #C84C09;
    }
    
    #darksienna {
      background-color: #420217;
    }
    
    #darklava {
      background-color: #443627;
    }
    
    #armygreen {
      background-color: #515B3A;
    }
    
    #kombugreen {
      background-color:#353D2F;
    }
    
    * {
      box-sizing: border-box;
    }
    
