@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}



main {
  margin-left: 2rem;
	align-content: center;

}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  margin-right:5px;
  height:200px;
	border: medium;
	border-color: darkgray;
	align-items: center;
  }

/* Clear floats after the columns */
.card:after {
  content: "";
  display: table;
  clear: both;
}

h1 {text-align: center;}
h2 {
	color:gainsboro;
	text-align: center;
}

p{
	color:orange;
	text-align: center;
	margin-top: -5px;
}@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}



main {
  margin-left: 2rem;
	align-content: center;

}

.grid-container {
  display: grid;
  row-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: #ffffff;
  padding: 10px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  margin-right:5px;
  height:200px;
	border: medium;
	border-color: darkgray;
	align-items: center;
  }

/* Clear floats after the columns */
.card:after {
  content: "";
  display: table;
  clear: both;
}

h1 {text-align: center;}
h2 {
	color:gainsboro;
	text-align: center;
}

p{
	color:orange;
	text-align: center;
	margin-top: -5px;
}@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}



main {
  margin-left: 2rem;
	align-content: center;

}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  margin-right:5px;
  height:200px;
	border: medium;
	border-color: darkgray;
	align-items: center;
  }

/* Clear floats after the columns */
.card:after {
  content: "";
  display: table;
  clear: both;
}

h1 {text-align: center;}
h2 {
	color:gainsboro;
	text-align: center;
}

p{
	color:orange;
	text-align: center;
	margin-top: -5px;
}@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}



main {
  margin-left: 2rem;
	align-content: center;

}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  margin-right:5px;
  height:200px;
	border: medium;
	border-color: darkgray;
	align-items: center;
  }

/* Clear floats after the columns */
.card:after {
  content: "";
  display: table;
  clear: both;
}

h1 {text-align: center;}
h2 {
	color:gainsboro;
	text-align: center;
}

p{
	color:orange;
	text-align: center;
	margin-top: -5px;
}