/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

  header, nav, main, footer {
      max-width: 64rem;
      margin:auto;
  }

/*----------- BODY --------------*/
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.gallery {
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery figure:hover {
  animation-name: hoverfigure;
  animation-duration: .2s;
  margin: -5px;
  box-shadow: 10px 15px 8px #888888;
}
#cards-container {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1vw !important;
}
#cards-container section {
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0px 5px 8px #1a1a1a;
}
@keyframes hovermain {
  from {box-shadow: 0px 5px 8px #1a1a1a; margin: 0; }
  to {box-shadow: 10px 15px 8px #1a1a1a;; margin: -5px; }
}
#cards-container section:hover {
  animation-name: hovermain;
  animation-duration: .2s;
  margin: -5px;
  box-shadow: 10px 15px 8px #1a1a1a;
}
#cards-container section img {
  align-self: end;
  max-width: 100%;
  width: 20vw;
}
#cards-container section div {
  height: 12rem;
}
#cards-container section p {
  margin-top: 2% !important;
}
#cards-container section h2 {
  margin-bottom: 1%;
}
/*----------- HEADER --------------*/

header img {
  width: 100%;
}


/*----------- NAVIGATION --------------*/
@media only screen and (min-width: 64em) {

  nav ul li a {
      padding: .5rem 1rem;
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
/*----------- MAIN --------------*/

  form label.sbs {
      padding: .4rem 0;
  }

/*----------- FOOTER --------------*/
header img {
  width: 100%;
}

} /* end of media query */