/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav ul li a {
        padding: .5rem 1rem;

    }   
}

*, *:before, *:after {
    box-sizing: border-box;
  }
  
 
  body {
    margin: 40px;
    font-family: 'Open Sans', 'sans-serif';
    background-color: #fff;
    color: #444;
  }

.header {
    grid-column: 1;
    background-color: #353D2F;
    height: 200px;
    margin:0;
    padding-left:10px;
    padding-right: 10px;
    /* needed for the floated layout */
    clear: none;
  }

  h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 350px;
    float: right;
    font-family: sans-serif;
    }

    .m {
        
    }