/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) 

{
   /*----------toggle buttons---------*/
   #toggle-buttons {
    text-align: right;
  }
  #toggle-buttons {
    color: orange;
    margin-top: 50px;
    
  }
  .fa-list-ul {
    margin-left: 20px;
    cursor: pointer;
  }
  .fa-th {
    cursor: pointer;
  }
  #toggle-buttons {
    display: block;
    text-align: center;
  }

   .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .card-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    width: 515px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  @media only screen and (min-width: 915px) {
    .card-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1em;
    }
  }


@media (max-width: 50em) {
    #cards-container{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin: 2%;
      
    }
    #cards-container section {
      display: flex;
      flex-direction: row;
      cursor: pointer;
    }
    #cards-container section:nth-of-type(2) {
      flex-direction: row-reverse;
    }
    #cards-container section img {
      width: 200px;
      justify-self: end;
      margin-left: 1rem;
      margin: 0;
    }
    #cards-container section div {
      width: 100%;
      
    }
  }

}